<div class="card">
  <tui-island>
    <h3 class="tui-island__title">  {{position.title}}</h3>
    <p class="tui-island__paragraph">
      {{position.description}}
    </p>
    <h4>{{position.price | currency:'USD':'symbol-narrow' }}</h4>
    <form
      class="b-form"
      [formGroup]="cardForm"
    >
      <tui-input-count
        formControlName="quantityInput"
        tuiTextfieldSize="m"
        [max]="100"
        [min]="1"
        [tuiTextfieldLabelOutside]="true"
      ></tui-input-count>
      <button
        tuiButton
        type="button"
        appearance="flat"
        size="m"
        class="tui-island__footer-button"
        (click)="onAddToCart()"
      >
        Add to cart
      </button>
    </form>
  </tui-island>
</div>
